venv/*
.DS_Store
.vscode
__pycache__/*
*/__pycache__/*
*/wandb/*
*/*/__pycache__/*
*.pth
logs/*
wandb/*
img/kodak/*
img/pexels_textures/*
meshes/*
img/temp/*
img/untracked/*
runs/*
models/*
*/tmp/*
docs/examples/wandb/*
docs/examples/.ipynb_checkpoints
cache/*